@import '../../_global.scss';


.navbar-app{
  height: $vavbar-app--height ;
    padding-left: $gap;
    display: flex;
    align-items: center;
      background-color: $appbar-bg-color;
      font-size: 1.5rem;
}