@import '../../_global.scss';
$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column{
    flex : 0 0 auto;
    width: 300px;
    height: $column-height;
    margin-left: $gap;
    
    > * {
        background-color: $colorlist-bg;
        color : #888;
        padding : 0 8px;
    }
    header.column-drag-handle{
      display: flex;
      justify-content: center;
      align-items: center;
        padding: 5px 5px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius : $column-border-radius;
        border-top-right-radius : $column-border-radius;
        display:flex;

        &:hover{
          cursor: pointer;
        }

        .column-title{
          flex: 90%;
        }

        .column-dropdown-actions{
          flex: 10%;
        }
    }

    footer{
      min-height: 10px;
        padding-left: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        font-weight: bold;
        border-bottom-left-radius : $column-border-radius;
        border-bottom-right-radius : $column-border-radius;
        .footer-actions{
          margin-left: 5px;
          cursor: pointer;
          &:hover{
            color : #333;
          }
        }
    }

    .add-new-card{
       .input-enter-new-column{
        margin-bottom: 10px;
       }
       i{
        font-size: 20px;
        margin-left : 20px;
        color: rgb(204, 132, 132);
        &:hover {
          color : red ;
        }}
    }

    .card-list{
        margin : 0;
        max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
        overflow-y : auto;

        &::-webkit-scrollbar {
          width: 10px;
        }
        

        &::-webkit-scrollbar-track {
          background: #faf7f7; 
        }
         
    
        &::-webkit-scrollbar-thumb {
          background: rgb(217, 212, 212); 
          border-radius: 5px !important;
        }

        .card-ghost {
          transition : trasform 0.18s ease;
          transform : rotateZ(5deg)
        }

        .cart-ghost-drop{
          transform : transform 0.18s ease;
          transform : rotate(0deg)
        }

        .card-drop-preview{
          background-color: rgba(150 , 150 , 200 , 0.1);
          border : 1px dashed #abcd ;
          margin-right: 5px;
        }

        
    }
}

.cancel-new-column{
  margin-left: $gap;
  color: rgb(240, 120, 120);

  .icon{
    font-size: 20px;

    &:hover{
      color : red;
    }
  }
}