@import '../../_global.scss';

   .card-item{
    background-color: white;
    padding : $gap;
    border-radius:$card-border-radius;
    box-shadow: 0 1px 1px rgba(0 , 0, 0 , 0.1);
    cursor: pointer;
    margin-bottom: $gap;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    span{
      color: black
    }
    
    img.card-cover{
    display : block;
    width: calc(100% + 2 * #{$gap});
    margin : -10px 0 10px -10px;
    border-top-left-radius : $column-border-radius;
    border-top-right-radius : $column-border-radius;
   }

   .icon{
      color : rgb(234, 151, 151) ;
      font-size: 20px;

      &:hover{
         color : red ;
      }
   }
}

